.main{
    display: flex; 
    text-align: center;
    justify-content: center;
} 
h1{
    color:gold
}
body{
    background-color: black;
}
button{
    background-color: gold;
    color: black;
    border-radius: 30px;
}
button:hover{
    cursor: pointer;
}
